1.Take a string as a user input and display only those characters present at even index
number.

In [2]:
s=input('enter a string')
i=0
for letter in s:
    if i%2==0:
        print(letter)
    i=i+1

enter a stringapple
a
p
e

2.Create a list of 10 integers taking user input. And display the sum of only those
numbers present at odd indexes.

In [3]:
sum=0
li=[]
for i in range(0,10):
    a=int(input("enter a number:"))
    li.append(a)
    if i%2!=0:
        sum=sum+a
    i=i+1
print(li)
print("sum at odd indices: ")
print(sum)

enter a number:1
enter a number:2
enter a number:3
enter a number:4
enter a number:5
enter a number:6
enter a number:7
enter a number:8
enter a number:9
enter a number:10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum at odd indices:
30

3.Sort this given list , List1 = [ 15, 47, 68, 89, 35, 13] , without using the sort function

In [18]:
li=[15,47,68,89,35,13]
li2=[]
for i in range(0,6):
    mi=li[i]
    for j in range(i+1,6):
        if li[j]<mi :
          temp=mi
          mi=li[j]
          li[j]=temp
    li2.append(mi)
print(li2)

[13, 15, 35, 47, 68, 89]

4.Print the following pattern
1
12
123
1234
12345

In [32]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

5.WAP to accept a 4 digit number from user and check if it’s a palindrome number.

In [42]:
a=int(input('enter a 4 digit number'))
s=0
n=a
for i in range (0,4):
    r=a%10
    s=s*10+r
    a=int(a/10)
if s==n:
    print('pallindrome')
else:
    print('not pallindrome')

enter a 4 digit number2323
not pallindrome

6.. Given a two list of numbers create a new list such that new list should contain only
odd numbers from the first list and even numbers from the second list

In [44]:
l1=[1,2,3,4,5,6,7,8]
l2=[1,2,9,10,11,12,13,14]
l3=[]
for i in range(0,8):
    if(l1[i]%2!=0):
        l3.append(l1[i])
    if(l2[i]%2==0):
        l3.append(l2[i])
print(l3)

[1, 2, 3, 10, 5, 12, 7, 14]

7.Write a function called exponent(base, exp) that returns an int value of base raises
to the power of exp.Write a function called exponent(base, exp) that returns an int value of base raises
to the power of exp.

In [45]:
def exp(base,exp):
    return int(base**exp)
exp(3,5)

243

8.Write a recursive function to count the number of digits present in a number given
by the user.

In [65]:

def count(num):
    num=int(num/10)
    if num>0 :
        return count(num)+1
    if num==0 :
        return 1
a=int(input("enter a number:"))
count(a)

enter a number:123456789

9

9. WAP to replace the word “red” with “blue” from the string S =” The red bag has 10
red pens”.

In [68]:
s='The red bag has 10 red pens'
r=''
for l in s.split():
    if l=='red':
        r=r+' '+'blue'
    else:
        r=r+' '+l
print(r)

 The blue bag has 10 blue pens

10. WAP to accept a choice from the user either 1 or 2 and find the sum of series
accordingly.
1 : S= a+ a^2/2 + a^3/3 + a^4/4 +......+ a^n/n
2: S=(1+2/2*3) + (1+2+3/1*2*3)+ .... +(1+2+3+...+n/1*2*3*.....*n)
(Accept n from the user)

In [70]:
def one(a,n):
    s=0.0
    for i in range(1,n+1):
        s=s+(a**i)/i
    print(s)
def two(n):
    s=0.0
    n=1.0
    d=1.0
    for i in range(2,n+1):
        n=n+i
        d=d*i
        s=s+n/d
    print(s)
c=int(input("enter a choice:"))
n=int(input("enter a number:"))
if c==1:
    one(3,n)
else:
    two(n)

enter a choice:1
enter a number:10
9431.30357142857

11.Given an input string, count occurrences of all characters within a string
Sample Input: 
S = “ Mississippi ”
Sample Output:
{‘M’ : 1, ‘i ’ : 4, ‘s’ : 4, ‘p’ : 2}

In [77]:
s=input("enter a string:")
d={}
for i in s:
     if i in d:
        d[i] += 1
     else:
        d[i] = 1
print(d)

enter a string:aabbahbhabhebhebbxhyge
{'a': 4, 'b': 7, 'h': 5, 'e': 3, 'x': 1, 'y': 1, 'g': 1}

12. WAP to remove special symbols/Punctuation from a given string
S = Hello@World#How are(! you? *&
Output:
Hello World How are you

In [79]:
def Punctuation(string):
    punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    for x in string.lower():
        if x in punctuations:
            string = string.replace(x, "")
    print(string)
string =input("enter a string:")
Punctuation(string)

enter a string:hello @ world , how are # you?
hello  world  how are  you

13. Split a given string on hyphens into several substrings and display each substring
S = “Python-is-a-programming-language”
Output:
Python
is
A
programming
language

In [24]:
s=input("enter a string: ")
word=""
for i in range(0,len(s)):
    if s[i] != '-' and i!=len(s)-1:
        word=word+s[i]
    elif i==len(s)-1:
        word=word+s[i]
        print(word)
    else:
        print(word)
        word=""

enter a string: Python-is-a-programming-language
Python
is
a
programming
language

14. Given two strings, s1, and s2 return a new string made of the first, middle, and last 
characters each input string
s1 = “Hello”
s2 = “World”
Output:
S=HWlrod

In [1]:
s1='Hello'
s2='World'
s3=''
for i in range(0,len(s1)):
    if i%2==0:
      s3=s3+s1[i]+s2[i]
print(s3)

HWlrod

16. Reverse the given tuple T = (10, 20 , 30 , 40, 50)

In [8]:
t=(10,20,30,40,50)
for i in range(0,len(t)):
    print(t[len(t)-i-1],end=" ")

50 40 30 20 10

17. Modify the first item (22) of a list inside a following tuple to 222 
T= (11, [22, 33], 44, 55)

In [10]:
T=(11,[22,33],44,55)
T[1][0]=222
print(T)

(11, [222, 33], 44, 55)

18. Counts the number of occurrences of item 50 from a tuple
T = (‘a’ , ‘b’ ,‘c’ , ‘a’, ‘e, ‘a’ , ‘b’ , ‘e’ ,‘o’)

In [43]:
d={}
T=('a','b' ,'c' , 'a', 'e', 'a' , 'b' , 'e' ,'o')
for i in T:
    d[i]=0
for i in T:
    if d[i]:
        d[i]=d[i]+1
        
    else:
        d[i]=1
print(d)

{'a': 3, 'b': 2, 'c': 1, 'e': 2, 'o': 1}

19. Return a new set of identical items from a given two set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output: {40, 50, 30}

In [51]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set1.intersection(set2)
print(set3)

{40, 50, 30}

20. Remove items 10, 20, 30 from the following set at once
set1 = {10, 20, 30, 40, 50}
Expected output: {40, 50

In [53]:
set1 = {10, 20, 30, 40, 50}
set1.discard(10)
set1.discard(20)
set1.discard(30)
print(set1)

{40, 50}

21. Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output: {70, 10, 20, 60

In [54]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.difference(set2).union(set2.difference(set1))

{10, 20, 60, 70}

23. Given a two list of equal size create a Python set such that it shows the element from 
both lists in the pair
Expected Output:
First List [2, 3, 4, 5, 6, 7, 8]
Second List [4, 9, 16, 25, 36, 49, 64]
Result is {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [61]:
first=[2,3,4,5,6,7,8]
sec=[4,9,16,25,36,49,64]
result = zip(first, sec)
resultSet = set(result)
print(resultSet)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

25. Suppose you want to develop a program to play a lottery.
The program randomly generates a two-digit number and prompts the user to enter 
a two-digit number, and determines whether the user wins according to the 
following rules:
a) If the user has entered that excat same number which matches with the 
randomly generated number then user wins Rs10,000
b) If all the digits in the user’s input match all the digits in the lottery number,
then the award is Rs 3,000.
c) If only one digit in the user’s input matches a digit in the lottery number, the 
award is $1,000

In [63]:
lottery_num=88
print("Welcome to the Lottery Program!")
user_num=int(input("Please enter a two digit number: "))
print("Calculating Results.")
lottery_tens = lottery_num // 10
lottery_ones = lottery_num % 10
user_tens = user_num // 10
user_ones = user_num % 10
if lottery_num == user_num:
    print("All your numbers match in exact order! Your reward is $10,000!\n")
elif lottery_tens == user_ones and lottery_ones == user_tens:
    print("All your numbers match! Your reward is $3,000!\n")
elif lottery_tens == user_tens or lottery_ones == user_ones \
  or lottery_ones == user_tens or lottery_tens == user_ones:
    print("One of your numbers match the lottery. Your reward is $1,000!\n")
else:
    print("Your numbers don't match! Sorry!")

Welcome to the Lottery Program!
Please enter a two digit number: 33
Calculating Results.
Your numbers don't match! Sorry!